---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// VARIABLES
// ===========================================================================

/* Learning Web Design, 4th Ed. p231 -- "Best Font Stack Ever". */
$base-font-family: "Bitter", Georgia, Constantia, "Lucida Bright",
                   Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", serif;
$mono-font-family: "Ubuntu Mono", "Liberation Mono", Monospaced, Monospace;
$menu-font-family: "PT Serif", serif;

$font-size-base:          16px;
$font-size-smaller:       $font-size-base * 0.825;
$font-size-small:         $font-size-base * 0.875;
$font-size-medium:        $font-size-base * 1.125;      // 18
$font-size-big:           $font-size-base * 1.25;       // 20
$font-size-bigger:        $font-size-base * 1.625;      // 26
$font-size-biggest:       $font-size-base * 1.75;       // 28
$font-size-huge:          $font-size-base * 2;          // 32
$font-size-hugest:        $font-size-base * 2,25;       // 36
$font-size-insane:        $font-size-base * 2,625;      // 42

$font-size-code:          $font-size-base * 0.75;
$font-size-menu:          $font-size-base * 1.6;

$base-line-height:        1.6;

$h1-font-size:            $font-size-huge;
$h2-font-size:            $font-size-biggest;
$h3-font-size:            $font-size-big;
$h4-font-size:            $font-size-medium;
$h5-font-size:            $font-size-medium;
$h6-font-size:            $font-size-medium;

$spacing-unit:            30px;

$text-color:              #111;
$background-color:        #fdfdfd;
$brand-color:             firebrick;
$brand-color-light:       lighten($brand-color, 20%);

$grey-color:              #828282;
$grey-color-light:        lighten($grey-color, 40%);
$grey-color-dark:         darken($grey-color, 25%);

$hover-background-color:  $brand-color-light;
$hover-text-color:        white;

$on-palm:                 500px;
$on-laptop:               700px;

$animation-duration-fade: 512ms;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "blog",
        "cv",
        "home"
;
