---
layout: page
title: About
permalink: /about/
---

<div class="about">

    <h1 class="page-heading">CV</h1>
    <h2>Completed courses</h2>
    <ul>
        {% for course in site.data.courses %}
            <l>[{{ course.code }}] {{ course.name }}</l>
        {% endfor %}
    </ul>

    {% for course in site.data.courses %}
        <h3>{{ course.code }} {{ course.name }}</h3>
        <p class="_cv_school">{{ course.school }}</p>
        <p class="_cv_coursedate">{{ course.date }}</p>

        <h4>Description</h4>
        {{ course.desc }}
    {% endfor %}
</div>
