---
layout:      page
title:       Blog
permalink:   /blog/
description: "Past blog posts on various subjects, sorted chronologically."
---

<div class="blog">

    <h1 class="page-heading">Archived blog posts</h1>

    <div class="post-list">
        <ul>
            {% for post in site.posts %}
                <li>
                    <span class="post-meta">{{ post.date | date: "%F %A" }}</span>

                    <a class="post-link"
                       href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <h2 class="page-heading">Posts sorted by tags</h2>
    {% include tags.html %}

    <h2>RSS feed</h2>
    <p class="rss-subscribe">Subscribe
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS. </a></p>

</div>
