---
layout: page
title: About
permalink: /about/
---

<div class="about">

    <h1 class="page-heading">CV</h1>
    <h2>Education</h2>
    <h3>Current</h3>
    <p>TODO: Describe current education ..</p>

    <h3>Completed courses</h3>
    <!--<ul>-->
        <!--{% for course in site.data.courses %}-->
            <!--<l>[{{ course.code }}] {{ course.name }}</l>-->
        <!--{% endfor %}-->
    <!--</ul>-->

    {% for course in site.data.courses %}
        <h4>{{ course.code }} {{ course.name }}</h4>
        <span class="_cv_school">{{ course.school }}</span>
        <span class="_cv_coursedate">{{ course.date }}</span>
        <h5>Description</h5>
        {{ course.desc }}
    {% endfor %}


    <h2>Work experience</h2>

    {% for job in site.data.jobs %}
        <h4>{{ job.name }}</h4>
        <span class="_cv_job-role">{{ job.desc }}</span>
        <span class="_cv_job-date">{{ job.date.start }} &mdash; {{ job.date.end }}</span>
        <h5>Description</h5>
        {{ job.desc }}
    {% endfor %}



</div>
