---
layout: page
title: CV
permalink: /cv/
---

<div class="cv">

    <h1 class="page-heading cv_heading">Curriculum vitae</h1>
    <p><em>Please note that this page is a work in progress.</em></p>

    <p class="unimplemented">TODO: Import CV from LaTeX source .. </p>

    <h1>Current education</h1>
    <h2>Current</h2>
    <p>I am currently studying a three year university programme in computer
        science and software development &mdash;
        <a href="http://udm-devops.se">Software Development and Operations</a>
        at <a href="https://lnu.se/en/">Linnaeus University</a>.</p>

    This is a
    <a href="https://en.wikipedia.org/wiki/DevOps" target="_blank">
        high-level rundown of the central concept</a>:

    <blockquote>
        <p><strong>DevOps</strong>
           (a clipped compound of
           <a href="https://en.wikipedia.org/wiki/Software_development"
           target="_blank">development</a> and
           <a href="https://en.wikipedia.org/wiki/Information_technology_operations"
              target="_blank">operations</a>) is a term used to refer to a set
           of practices that emphasizes the collaboration and communication of
           both software developers and other information-technology (IT)
           professionals while automating the process of software delivery and
           infrastructure changes.</p>
        <p>It aims at establishing a culture and environment where building,
            testing, and releasing software can happen rapidly, frequently, and
            more reliably.</p>
    </blockquote>

    <p>I plan to graduate a Bachelor of Science in 2019.</p>


    <h2>Completed university courses</h2>
    <!--<ul>-->
    <!--{% for course in site.data.courses %}-->
    <!--<l>[{{ course.code }}] {{ course.name }}</l>-->
    <!--{% endfor %}-->
    <!--</ul>-->

    {% for course in site.data.courses reversed %}
    {% if course.hidden %}
    {% continue %}
    {% endif %}

    <div class="_cv_course">
        <h3><span class="_cv_code">{{ course.code }}</span> {{ course.name }}
        </h3>

        <span class="_cv_institution">{{ course.institution }}</span>
        <span class="_cv_date">{{ course.date.end }}</span>

        <p class="_cv_description">{{ course.desc }}</p>
    </div>
    {% endfor %}


    <h1>Work experience</h1>

    {% for job in site.data.jobs %}
    {% if job.hidden %}
    {% continue %}
    {% endif %}

    <div class="_cv_job">
        <h3>{{ job.name }}</h3>
        <span class="_cv_role">{{ job.role }}</span>
        <span class="_cv_date">{{ job.date.start }} &mdash;
            {{ job.date.end }}</span>

        <p class="_cv_description">{{ job.desc }}</p>
    </div>
    {% endfor %}

</div>
