---
layout: default
---

<div class="home">
    <div class="about">
        <h1 class="page-heading home-heading">
            <span class="heading-word">
                <a href="{{ site.url }}">{{ site.author.fullname }}</a>
            </span>
        </h1>

        <div class="author-photo unimplemented">
            {% if site.author.photo.src and site.author.photo.alt %}
                <img src="{{ site.author.photo.src }}"
                     alt="{{ site.author.photo.alt }}">
            {% endif %}
        </div>

        <div class="about-short">
            <ul class="about-short-list">
                <li>
                    <strong>Software developer</strong> with
                    <a href="http://www.paulgraham.com/gba.html"
                       target="_blank">hackerdom </a>
                    <a href="http://www.catb.org/esr/writings/homesteading/hacker-history/"
                       target="_blank">aspirations</a>.
                </li>
                <li>
                    <strong>Electronics Engineer</strong> with
                    <a href="{{ site.baseurl }}/projects/#electronics">experience</a>
                    and skill.
                </li>

                <li>Open source and <strong>free software advocate</strong>.</li>
            </ul>
        </div>

        <article class="about-content">
            <h2 id="present">Present</h2>
            <p>Currently studying
               <a href="http://udm-devops.se">Software Development and Operations</a>
               at <a href="https://lnu.se/en/">Linnaeus University</a> full-time.
            <br>I am also employed as a <em>fixare</em> at
               <a href="https://hemfixare.se/">Hemfixare</a>, a startup that
                provides technical support to households.</p>

            <h2 id="past">Past</h2>
            <p>I have a background in electronics engineering &mdash; I've been
               a hobbyist on and off since I was a little kid. I also have some
               formal education and <strong>a lot</strong> of practical
               experience with analog circuit design, PCB-design, front panel
               layout &mdash; a <strong>variety of skills</strong> required
               to be able to get
               <strong>from simple ideas to a finished product</strong>.
            </p>
            <p>I have been interested in various kinds of programming
               for as long as I can remember. When I was about <code>0x0A</code>
               years old, I installed games that I had created on the class
               computer in school for everyone to play. </p>

            <h2 id="future">Future</h2>
            <p>I would like to work with <strong>software development</strong> or
                <strong>electrical engineering</strong> &mdash; preferably "close to
                the metal". I'd really like to do <code>UNIX</code> system administration
                and embedded systems development. Alternatively, I'd like to do
                analog circuit design or something else in the realm of
                electrical engineering.
                What really captivates me is <strong>problem solving</strong> and being
                part of a <strong>creative process</strong>.
            </p>
        </article>
    </div>

    <section class="site-section preview-projects unimplemented">
        <h1>Projects</h1>
        {% for project in site.data.projects | limit: 4 %}
            <li class="project">
                <h2>{{ project.name }}</h2>
                <span class="project-excerpt">{{ project.desc | strip_html | truncate: 200 }}</span>
                <span class="project-page-link">
                            <a href="{{ project.url | prepend: site.baseurl }}">Go to project.</a>
                </span>
            </li>
        {% endfor %}
    </section>

    <section class="site-section preview-posts unimplemented">
        <h1 class="centered">Latest blog posts</h1>

        <ul class="preview-post-list">
            {% for post in site.posts | limit: 4 %}
                <li class="post">
                    <h2>{{ post.title }}</h2>
                    <span class="post-excerpt">{{ post.content | strip_html | truncate: 200 }}</span>
                    <span class="post-read-more-link">
                        <a href="{{ post.url | prepend: site.baseurl }}">Read more..</a>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </section>
</div>
