---
layout: default
---

<div class="home">
    <div class="about">
        <h1 class="page-heading home-heading">
            <span class="heading-word">
                <a href="{{ site.url }}">{{ site.author.fullname }}</a>
            </span>
        </h1>

        <div class="author-photo unimplemented">
            {% if site.author.photo.src and site.author.photo.alt %}
                <img src="{{ site.author.photo.src }}"
                     alt="{{ site.author.photo.alt }}">
            {% endif %}
        </div>

        <div class="about-short">
            <ul class="about-short-list">
                <li>
                    <strong>Software developer</strong> with
                    <a href="http://www.catb.org/esr/writings/homesteading/hacker-history/"
                       target="_blank">aspirations</a>
                    for true
                    <a href="http://www.paulgraham.com/gba.html"
                       target="_blank">hackerdom</a>
                </li>
                <li>
                    <strong>Electronics Designer</strong> with
                    <a href="{{ site.baseurl }}/projects/#electronics">experience</a>
                    and skill.
                </li>

                <li>Open source and free software advocate.</li>
            </ul>
        </div>

        <article class="about-content">
            <h2 id="present">Present</h2>
            <p>Currently employed as an <strong>infrastructure
                architect</strong> at a Swedish company.</p>

            <p>I am primarily invested in <strong>DevOps</strong>, *NIX and
            open source, <strong>Infrastructure as Code</strong>, automated
            software testing, distributed collaborative development practices,
            security, reverse-engineering, low-level debugging, well
            established standards and enforcing ostensibly "best" practices and
            team cohesion.</p>

            <p>I keep an "engineering mindset" at all times &mdash; approaching
               every specific problem with an open mind and a systematic
               approach, borne from years of experience. All while balancing
               trade-offs, cost and future return of investment.  I keep clear
               of hype, buzzwords and "silver bullet" solutions that seem so
               prevalent in modern IT.</p>

            <p>I have spent most of my life doing electronics and IT; from
               my perspective, the often mentioned "full stack" is far from
               stack enough. Show me a HEX dump of binary data and I will tell
               you what we are looking at.</p>
        </article>
    </div>

    <section class="site-section preview-projects unimplemented">
        <h1>Projects</h1>
        {% for project in site.data.projects | limit: 4 %}
            <li class="project">
                <h2>{{ project.name }}</h2>
                <span class="project-excerpt">{{ project.desc | strip_html | truncate: 200 }}</span>
                <span class="project-page-link">
                            <a href="{{ project.url | prepend: site.baseurl }}">Go to project.</a>
                </span>
            </li>
        {% endfor %}
    </section>

    <section class="site-section preview-posts unimplemented">
        <h1 class="centered">Latest blog posts</h1>

        <ul class="preview-post-list">
            {% for post in site.posts | limit: 4 %}
                <li class="post">
                    <h2>{{ post.title }}</h2>
                    <span class="post-excerpt">{{ post.content | strip_html | truncate: 200 }}</span>
                    <span class="post-read-more-link">
                        <a href="{{ post.url | prepend: site.baseurl }}">Read more..</a>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </section>
</div>
