<meta property="og:type" content="article" />

{% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
{% else %}
    <meta content="{{ site.title }}" property="og:title">
{% endif %}

{% if page.excerpt %}
    <meta content="{{ page.excerpt | strip_html }}" property="og:description">
{% elsif page.description %}
    <meta content="{{ page.description | markdownify | strip_html }}" property="og:description">
{% elsif site.description %}
    <meta content="{{ site.description | markdownify | strip_html }}" property="og:description">
{% endif %}

{% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/about/" property="article:author">
{% endif %}

<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:url" content="{{site.github.url }}{{ page.url }}" />
{% if page.image %}
    <meta property="og:image" content="{{site.github.url }}{{ page.image }}" />
{% endif %}

{% if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
{% endif %}
