<ul class="social-media-list">
    {% if site.github_username %}
    <li>
        <a href="https://github.com/{{ site.author.github }}">
            <i class="fa fa-github"></i>
            <span class="social-media-site">GitHub</span>
        </a>
    </li>
    {% endif %}

    {% if site.twitter_username %}
    <li>
        <a href="https://twitter.com/{{ site.author.twitter }}">
            <i class="fa fa-twitter"></i>
            <span class="social-media-site">Twitter</span>
        </a>
    </li>
    {% endif %}

    {% if site.linkedin_username %}
    <li>
        <a href="https://linkedin.com/in/{{ site.author.linkedin }}">
            <i class="fa fa-linkedin"></i>
            <span class="social-media-site">LinkedIn</span>
        </a>
    </li>
    {% endif %}

    {% if site.google_plus_username %}
    <li>
        <a href="https://plus.google.com/{{ site.author.googleplus }}">
            <i class="fa fa-google-plus"></i>
            <span class="social-media-site">Google+</span>
        </a>
    </li>
    {% endif %}

    {% if site.facebook_username %}
    <li>
        <a href="https://www.facebook.com/{{ site.author.facebook }}">
            <i class="fa fa-facebook"></i>
            <span class="social-media-site">Facebook</span>
        </a>
    </li>
    {% endif %}

    {% if site.dribbble_username %}
    <li>
        <a href="https://dribbble.com/{{ site.author.dribbble }}" class="icon">
            <i class="fa fa-dribbble"></i>
            <span class="social-media-site">Dribbble</span>
        </a>
    </li>
    {% endif %}

    {% if site.instagram_username %}
    <li>
        <a href="https://www.instagram.com/{{ site.author.instagram }}" class="icon">
            <i class="fa fa-instagram"></i>
            <span class="social-media-site">Instagram</span>
        </a>
    </li>
    {% endif %}
</ul>
