.post {
    padding: $spacing-unit 0;
}
.post-tags {
    display: inline;
    text-transform: uppercase;
    vertical-align: middle;
    padding-right: 0.25em;
}

.post-header {
    h3 {
        font-size: $font-size-medium;
        font-family: $mono-font-family;
        vertical-align: baseline;
    }

    h1 {
        padding-top: 0.2em;
        padding-bottom: 0.1em;
        margin-bottom: 0.1em;
        border-bottom-style: solid;
        border-bottom-width: 0.1em;
        border-bottom-color: $grey-color;
    }

    .entry-tags {
        font-size: $font-size-medium;
        vertical-align: baseline;
    }

    .post-meta {
        margin-bottom: 0.5em;
        display: block;
    }

    .post-date {
        color: $grey-color-dark;
    }
}

.post-tags:after {
    content: ":";
}

.entry-tags {
    display: inline;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: $font-size-insane;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: $font-size-hugest;
    }
}

.post-content {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.2em;
        margin-top: 0.5em;
    }

    h1, h2, h3, h4 {
        border-bottom: thin solid $grey-color-light;
    }
}

.post-list {
    text-align: center;
    width: 100%;

    ul {
        margin: 0;
        width: 90%;
        list-style: none;
        display: inline-block;
        vertical-align: baseline;

        .post-meta {
            vertical-align: baseline;
            font-size: $font-size-big;
            float: left;
            text-align: left;
            padding-left: 5%;
            height: 100%;
            /*width: 50%;*/
            @include media-query($on-laptop) {
                float: none;
                width: 100%;
                display: block;
                padding-left: 0;
            }
        }

        .post-link {
            vertical-align: middle;
            font-size: $font-size-bigger;
            float: right;
            width: 50%;

            @include media-query($on-laptop) {
                float: none;
                width: 100%;
                display: block;
                text-align: left;
            }
        }

        @include media-query($on-laptop) {
            /*display: block;*/
        }
    }

    li {
        width: 100%;
        line-height: 2.2em;
        margin-bottom: $spacing-unit / 3;
        margin-top: 0;
        padding-top: 0;
        display: inline-block;
        text-align: center;
        vertical-align: baseline;

        @include media-query($on-laptop) {
            display: block;
        }
    }
}

.post-link {
    font-size: $font-size-big;
    vertical-align: top;
}

.post-comments {
    padding-top: 0.5em;
    margin-top: 2.5em;
    border-top: medium solid $grey-color;
}

#tag-collection {

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    margin-bottom: 2em;

    li {
        display: inline-block;
        margin-right: 0.25em;
    }

    .tag-collection-count {
        color: $grey-color;
        &:before {
            content: "(";
        }
        &:after {
            content: ")";
        }
    }
}

.entry-date {
    margin-right: 0.5em;
    padding: 0;
}

.tags {
    padding-top: 2em;
}

//#posts-sorted-by-tag {
//    display: inline-block;
//    clear: both;
//
//    h3 {
//        display: inline-block;
//        float: left;
//        width: 20%;
//        margin-bottom: 1em;
//    }
//
//    .posts {
//        background-color: yellow;
//        /*display: inline-block;*/
//        float: right;
//        width: 70%;
//        margin-bottom: 1em;
//    }
//}
