.cv {
    ._cv_description {
        font-size: $font-size-small;
        color: $grey-color-dark;
        margin-top: 0.25em;
    }

    ._cv_date {
        display: block;
        float: right;
        color: $grey-color-dark;
    }

    ._cv_code {
        font-family: $mono-font-family;
        margin-right: 0.4em;
    }

    h3 {
        /*display: inline-block;
        max-width: 50%;*/
        padding: 0;
        margin: 0;
        border-bottom-style: solid;
        border-bottom-width: 0.025em;
        border-bottom-color: $grey-color;
    }
}

._cv_course {
    margin-bottom: 1.5em;

    ._cv_institution {
        /*display: inline;*/
        /*float: left;*/
    }
}

._cv_job {
    margin-bottom: 1em;

    ._job_role {
        /*display: inline;*/
        float: left;
    }
}

