.home-heading {
    font-size: $font-size-insane;
    line-height: 1;

    .heading-word {
        white-space: nowrap;

        @include media-query($on-laptop) {
            display: block;
        }
    }

    a {
        color: black;
    }

    hr {
        display: inline-block;
        vertical-align: middle;
        height: 1px;
        border: 0;
        border-top: 0.05em solid black;
        margin: 0.5em auto;
        padding: 0;
        width: 3rem;
        text-align: center;

        @include media-query($on-laptop) {
            display: block;
        }

    }
}

.about {
    .author-photo {
        background-color: white;
        text-align: center;
        width: 200px;
        float: left;

        padding: 0;
        margin-top: auto;
        margin-right: 20px;
        margin-left: auto;
        margin-bottom: 5px;
    }

/*    aside img {
        border-style: solid;
        border-width: thin;
        border-color: #5a5c63;
    }*/

    h1 a {
        &:hover {
            text-decoration: none;
        }
    }

    h2, h3, h4, h5, h6 {
        padding: 0;
        margin: 0;
    }
}

.about-short {
    .about-short-list {
        margin-left: 0;
    }

    li {
        list-style: none;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    text-align: center;
}
