.preview-post-list {

    @extend %clearfix;
    margin: 0;
    list-style: none;
    padding-top: $spacing-unit * 0.75;

    h2 {
        margin-bottom: 0.5em;
        line-height: $base-line-height * 0.75;
    }

    .post {
        float: left;
        width: 50%;
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 0.5em;
        margin-bottom: 1em;

        &:nth-child(odd) {
            clear: both;
            padding-right: 0.5em;
        }

        &:nth-child(even) {
            padding-left: 0.5em;
        }

        @include media-query($on-laptop) {
            float: none;
            width: 100%;
            padding-right: 0;

            &:nth-child(even) {
                padding-left: 0;
            }
            &:nth-child(odd) {
                padding-right: 0;
            }
        }


        .post-excerpt {
            margin-bottom: 0.1em;
            font-size: $font-size-small;
            line-height: $base-line-height * 0.3;
        }

        .post-read-more-link {
            display: block;
            margin-top: 0.3em;

            @include media-query($on-laptop) {
                display: inline;
                margin-left: 0.25em;
            }
        }
    }
}

.post-read-more-link {
    text-align: center;
}
