---
layout: default
---

<div class="post">

    <header class="post-header">
        <span class="post-meta">
            <span class="post-date">
                Posted {{ page.date | date: "%A %F" | downcase }}
                {% if page.author %}
                    by {{ page.author }}
                {% elsif site.author.fullname %}
                    by {{ site.author.fullname }}
                {% endif %}
            </span>
        </span>

        <h1 class="post-title">{{ page.title }}</h1>


        <h3 class="post-tags">Tags</h3>
        <span class="entry-tags">
            {% for tag in page.tags %}
                <a href="{{ site.baseurl }}/blog/#{{ tag | cgi_escape }}"
                   title="Pages tagged {{ tag }}" rel="tag">{{ tag }}</a>
            {% unless forloop.last %} &bull; {% endunless %}
            {% endfor %}
        </span>
    </header>

    <article class="post-content">
        {{ content }}
    </article>

    {% if page.disqus %}
        <div class="post-comments">

            {% include disqus.html %}

        </div>
    {% endif %}

</div>
